@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Oswald&display=swap');

$boz-1 : #8e2a1a;
$boz-2 : #d2b48c;
$boz-3 : #ff7d5e;
$boz-4 : #582b39;



body {
  font-family: 'Raleways', sans-serif;
}

a {
  color: $boz-3;
}

img {
  max-width:100%;
}
