#block-bozay-main-menu {
  li {
    a {
      font-family: 'Oswald', sans-serif;
      font-size: 1.4rem;
      white-space: nowrap;

      color: #fff5f0;

    }
  }
  ul {
    background: $boz-4;
  }
}

